.container {
    max-width: 100%; /* Allow container to use full width */
    padding: 20px;
  }
  
  .search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .search-suggestion {
    font-style: italic;
    color: #888;
  }
  
  .button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .locations {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Optional: space between images */
  }
  
  .location-image {
    width: 100%;
    border-radius: 5px;
    max-width: 100%; /* Ensure images do not exceed container width */
  }
  
  footer {
    background-color: #343a40; /* Dark background */
    color: white; /* White text color */
  }
  